body{
    background-color: black;
}

h1{
    color: rgb(196, 253, 255);
    font-size: 700%;
    text-align: center;
    font-family: Helvetica;
}
figure{
    text-align: center;
}
img{
    border: 12px solid rgb(0, 0, 0);
}
p{
    font-size: 200%;
}
li{
    font-size: 200%;
}
header{
    background-color: rgb(253, 213, 35);
    padding: 20px;
    color: rgb(44, 44, 44);
    font-family: Helvetica;
}

section{
    background-color: rgba(36, 76, 255, 0.623);
    padding: 20px;
    color: white;
    font-family: Helvetica;
}

footer{
    background-color: rgb(87, 150, 16);
    color: rgb(0, 0, 0);
    font-family: Helvetica;
}

h2{
    font-size: 500%;
    text-align: center;
}
h3 {
    font-size: 250%;
   
}
h4{
    font-size: 500%;
    text-align: center;
}
h5{
    font-size: 250%;
}